###> symfony/framework-bundle ###
/.env.local
/.env.dev
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###

###> config and local files ###
.DS_Store
.DS_Store/
/.DS_Store
/.vscode/
/Dockerfile
/docker-compose.yml
/docker-compose.override.yml
/docker/
/supervisord.log
/supervisord.pid
/.idea/

/src/.DS_Store
###> symfony/webpack-encore-bundle ###
/node_modules/
/public/build/
npm-debug.log
yarn-error.log
###< symfony/webpack-encore-bundle ###
