{% extends 'base.html.twig' %}

{% block title %}Despachar Orden {% endblock %}

{% block body %}

    <div class="p-3 mb-2 bg-light rounded-2">
        <div class="container-fluid py-5">
            <h1 class="display-5 fw-bold">Orden: {{ Order }}</h1>
            <p class="col-md-8 fs-4">Cliente: {{ CustomerName }}</p>
            <p class="col-md-8 fs-4">NIT: {{ CustomerNIT }}</p>
        </div>
    </div>

    <div class="row align-items-md-stretch" style="padding-left: 2%; padding-right: 2%;">
        <div class="col-md-7">
            <div class="h-100 p-5  border rounded-3" style="background-color: #93c5fd">
                <div>
                    <table class="table table-hover">
                        <thead>
                        <tr>
                            <th>Cod. Producto</th>
                            <th>Nombre del Producto</th>
                            <th>Cant. Requerida</th>
                            <th>Cant. a Despachar</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>1</td>
                            <td>Producto 111111111111111111111111111111</td>
                            <td>10</td>
                            <td>10</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-md-5">
            <div class="h-100 p-5 bg-light border rounded-3">
                <div>
                    <label for="productInput">Escanear producto:</label>
                    <input type="text" id="productInput" placeholder="Código de Barras" class="form-control">
                </div>
                <div>
                    <table class="table table-hover">
                        <thead>
                        <tr>
                            <th>
                                Código de Barras
                            </th>
                            <th>Resultado escaneo</th>
                        </tr>
                        </thead>
                        <tbody id="scannedProducts">

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}