{% extends 'base.html.twig' %}

{% block body %}
    <h1>Despachar orden</h1>

    <div>
        <input type="text" id="orderNumberInput">
        <button onclick="searchOrder()">Search Order</button>
    </div>
    <div id="result"></div>

{% endblock %}
