{% extends 'base.html.twig' %}

{% block title %}Página de Inicio{% endblock %}

{% block body %}

    <div class="p-5 mb-4 bg-light rounded-3">
        <div class="container-fluid py-5">
            <h1 class="display-5 fw-bold">{{ title }}</h1>
        </div>
        <div class="container-fluid py-3">
            <span class="d-inline-block" tabindex="0" data-bs-toggle="tooltip" title="You need to be logged in to access 
                        this feature">
                <button class="btn btn-primary"
                        onclick="window.location.href = '{{ path('home_delivery') }}'"
                        {% if app.session.get('keyAgent') is null %} disabled {% endif %}>
                    <i class="bi bi-truck"></i> {{ dispatchButton }}
                </button>
            </span>
        </div>
    </div>

    <div class="row align-items-md-stretch" style="padding-left: 2%; padding-right: 2%;">
        <div class="col-md-5">
            <div class="h-100 p-5 text-white bg-dark rounded-3">
                <h2>Recursos cargados</h2>
                <ul>
                    <li>
                        La base de datos tiene {{ totalProducts }} productos guardados
                    </li>
                    <li>
                        La última orden despachada fue la {"No de Orden"}
                    </li>
                </ul>

            </div>
        </div>
        <div class="col-md-7">
            <div class="h-100 p-5 bg-light border rounded-3">
                <h2>Despachos</h2>

                <h4>Este mes:</h4>
                <ul>
                    <li>Se han efectuado {n} despachos</li>
                    <li>La eficiencia de los despachos efectuados está en {x}</li>
                </ul>

                <h4>Hoy:</h4>
                <ul>
                    <li>Se han efectuado {n} despachos</li>
                    <li>La eficiencia de los despachos efectuados está en {x}</li>
                </ul>
            </div>
        </div>
    </div>
{% endblock %}